<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <style>
      i.icon-white {
        color: white;
        font-size: 35px;
      }
      </style>
      <link rel="prefetch" href="NONE.mp3">
      <link rel="prefetch" href="Anand Sahib.mp3">
      <link rel="prefetch" href="Chaupai Sahib.mp3">
      <link rel="prefetch" href="Jaap Sahib.mp3">
      <link rel="prefetch" href="Japji Sahib.mp3">
      <link rel="prefetch" href="Kirtan Sohila.mp3">
      <link rel="prefetch" href="Rehraas Sahib.mp3">
      <link rel="prefetch" href="Sukhmani Sahib.mp3">
      <link rel="prefetch" href="Tav Parsad Savaiye.mp3">
    </head>
    <body>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <!-- Dropdown Menu-->
      <div ng-app="myApp" ng-controller="myCtrl">
        <div class="container">
          <a class="btn-floating btn-large waves-effect waves-light orange right">
            <i class="material-icons icon-white" ng-click="ChangeLanguage();" ng-model="Language" ng-init="Language='English'">language
            </i>
          </a>
          <a class="btn-floating btn-large waves-effect waves-light orange left">
            <i class="large material-icons icon-white" ng-click="myPlayPauseFunc();" id="pause-btn">pause</i>
            <i class="large material-icons icon-white" ng-click="myPlayPauseFunc();" id="play-btn">play_arrow</i>
          </a>
        </div>
        </br>
        <h5 class="center">Select Gurbani:</h5>
        <div class="row center" ng-model="G_name" ng-init="G_name='NONE'" id="small">
          <div class="col s3 m3" ng-repeat="x in g_names">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img  ng-src="{{x.English}}.png"  ng-click="myFunc(x.id)">
                {{x[Language]}}
              </div>
            </div>
          </div>
        </br><br>
          <h4><strong>You selected: {{G_name}}</br></strong></h4>
          <audio id="myAudio" ng-src="{{G_name}}.mp3"></audio>
          <!--<audio ng-src="{{G_name}}.mp3" audioplayer controls></audio>-->
          <h5 id="demo">
            <h5 style="font-weight:bold" id="test">
            </h5>
          </h5>
        </div>
      </div>
      <!-- Angular JS Scripts-->
      <script>
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope, $http, $sce) {
          $scope.g_names = [
              {English : "Anand Sahib", Punjabi : "Anµdu swihb", id:"0"},
              {English : "Chaupai Sahib", Punjabi : "cOpeI swihb", id:"1"},
              {English : "Jaap Sahib", Punjabi : "jwpu swihb", id:"2"},
              {English : "Japji Sahib", Punjabi : "jpujI swihb", id:"3"},
              {English : "Kirtan Sohila", Punjabi : "kIrqn soihlw", id:"4"},
              {English : "Rehraas Sahib", Punjabi : "rhrwis swihb", id:"5"},
              {English : "Sukhmani Sahib", Punjabi : "suKmnI swihb", id:"6"},
              {English : "Tav Parsad Savaiye", Punjabi : "qÍ pRswid sv`Xy", id:"7"}
          ];
          var a=[];
            $http.get('Anand Sahib.html').then(function (result) {
              a[0] = result.data;
            });
            $http.get('Chaupai Sahib.html').then(function (result) {
              a[1] = result.data;
            });
            $http.get('Jaap Sahib.html').then(function (result) {
              a[2] = result.data;
            });
            $http.get('Japji Sahib.html').then(function (result) {
              a[3] = result.data;
            });
            $http.get('Kirtan Sohila.html').then(function (result) {
              a[4] = result.data;
            });
            $http.get('Rehraas Sahib.html').then(function (result) {
              a[5] = result.data;
            });
            $http.get('Sukhmani Sahib.html').then(function (result) {
              a[6] = result.data;
            });
            $http.get('Tav Parsad Savaiye.html').then(function (result) {
              a[7] = result.data;
            });
        $scope.Gurbani=function(i){
            return a[i].records;
        };
        $scope.ChangeLanguage=function(){
          $scope.Language = ($scope.Language == "Punjabi") ? "English" : "Punjabi" ;
          document.getElementById("demo").innerHTML = null;
          for(var j=0 ; j<i-1 ; j++){
            document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML + "<br>" + $scope.Gurbani(x)[j][$scope.Language];
          }
        };
        var audio = new Audio("NONE.mp3");
        var flag=1;
        document.getElementById('pause-btn').style.display = 'none';
        var timePaused=0;
        $scope.myPlayPauseFunc=function(){
          if(flag==0){
            flag=1;
            audio.pause();
            document.getElementById('pause-btn').style.display = 'none';
            document.getElementById('play-btn').style.display = 'block';
          }else{
            flag=0;
            timePaused = audio.currentTime;
            //some way to call repeatFunc();
            audio.play();
            document.getElementById('play-btn').style.display = 'none';
            document.getElementById('pause-btn').style.display = 'block';
          }
        };
        var i,x;
        $scope.myFunc=function(c){
          document.getElementById('small').style.width = '50%';
          x=c;
          $scope.G_name = $scope.g_names[c].English;
          audio.pause();
          audio = new Audio($scope.G_name+'.mp3');
          audio.load();
          flag=1;
          $scope.myPlayPauseFunc();
          i=0;
          document.getElementById("demo").innerHTML = null;
          document.getElementById("test").innerHTML = null;
          repeatFunc();
          function repeatFunc(){
            if(i<100){
              updateLines();
              function updateLines(){
                  document.getElementById("test").innerHTML = $scope.Gurbani(c)[i][$scope.Language];
                  if(i!=0){
                      document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML + "<br>" + $scope.Gurbani(c)[i-1][$scope.Language];
                  }
              }
              i++;
            }
            else{
              audio.pause();
            }
            var thisTime = a[c].records[i-1].Time ;
            var newTime = a[c].records[i].Time;
            /*if(timePaused!=0){
              for(var l=0 ; l<100 ; l++){
                if(timePaused>=a[c].records[l].Time&&timePaused<a[c].records[l+1].Time){
                  console.log("TEST");
                  i=l+2;
                  thisTime = a[c].records[i-1].Time ;
                  newTime = a[c].records[i].Time;
                  break;
                }
              }
            }*/
            var z = newTime - thisTime;
            z=z*1000;
            if(flag==0){
              setTimeout(repeatFunc, z);
            }else{
              flag=0;
            }
          }
        };
      });
      </script>
  </html>
