<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <style>
      i.icon-orange {
        color: orange;
      }
      </style>
      <link rel="prefetch" href="NONE.mp3">
      <link rel="prefetch" href="Anand Sahib.mp3">
      <link rel="prefetch" href="Chaupai Sahib.mp3">
      <link rel="prefetch" href="Jaap Sahib.mp3">
      <link rel="prefetch" href="Japji Sahib.mp3">
      <link rel="prefetch" href="Kirtan Sohila.mp3">
      <link rel="prefetch" href="Rehraas Sahib.mp3">
      <link rel="prefetch" href="Sukhmani Sahib.mp3">
      <link rel="prefetch" href="Tav Parsad Savaiye.mp3">
    </head>
    <body>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <!-- Dropdown Menu-->
      <div ng-app="myApp" ng-controller="myCtrl">
        <div class="container">
          <i class="medium material-icons icon-orange right" ng-click="ChangeLanguage();" ng-model="Language" ng-init="Language='English'">language</i>
          <i class="medium material-icons icon-orange left" ng-click="myPlayPauseFunc();" id="pause-btn">pause_circle_filled</i>
          <i class="medium material-icons icon-orange left" ng-click="myPlayPauseFunc();" id="play-btn">play_circle_filled</i>
        </div>
        </br>
        <!--<div class="hide-on-large-only">
          <a class="btn" onclick="Materialize.toast('Playing', 1000,'',function(){
            var audio = new Audio('NONE.mp3');
            audio.play();
            })">Play!
          </a>
        </div>-->
        <!--<audio autoplay>
          <source src="NONE.mp3">
        </audio>-->
        <h5 class="center">Select Gurbani:</h5>
        <div class="row center" ng-model="G_name" ng-init="G_name='NONE'" id="small">
          <div class="col s3 m3" ng-repeat="x in g_names">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img  ng-src="{{x.model}}.png"  ng-click="myFunc(x.id)">
                {{x.model}}
              </div>
            </div>
          </div>
        </br><br>
          <h4><strong>You selected: {{G_name}}</br></strong></h4>
          <audio id="myAudio" ng-src="{{G_name}}.mp3"></audio>
          <!--<audio ng-src="{{G_name}}.mp3" audioplayer controls></audio>-->
          <h5 id="demo">
            <h5 style="font-weight:bold" id="test">
            </h5>
          </h5>
        </div>
      </div>
        <!--<select ng-model="G_name" ng-init="G_name='Anand Sahib'" class="browser-default">
          <option ng-repeat="x in g_names" value="{{x.model}}">{{x.model}}</option>
        </select>-->

        <!--<ul class="collection with-header browser-default" >
          <li class="collection-header"><h4>{{G_name}}</h4></li>
          <li class="collection-item" ng-repeat="x in Gurbani()">{{x.model}}</li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
        </ul>-->
        <!--<div ng-model="G_name" ng-init="G_name='Anand Sahib'">{{G_name}}</div>-->
        <!--<ul class="collapsible popout" data-collapsible="accordion" ng-model="G_name" ng-init="G_name='NONE'">
          <li ng-repeat="x in g_names">
            <div class="collapsible-header"><img class="circle" src="{{x.model}}.png" height="30" width="30">{{x.model}}</div>
            <div class="collapsible-body" ng-init="G_name=x.model">
              <span>
                <center>
            <audio controls="controls">
              <source src="{{G_name}}.mp3">
            </audio>
            <span ng-repeat="y in Gurbani(x.id)"></br>{{y.English}}</span></span>
          </center>
            </div>
          </li>
        </ul>
      </div>-->
      <!-- Angular JS Scripts-->
      <script>
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope, $http, $sce) {
          $scope.g_names = [
              {model : "Anand Sahib", id:"0"},
              {model : "Chaupai Sahib", id:"1"},
              {model : "Jaap Sahib", id:"2"},
              {model : "Japji Sahib", id:"3"},
              {model : "Kirtan Sohila", id:"4"},
              {model : "Rehraas Sahib", id:"5"},
              {model : "Sukhmani Sahib", id:"6"},
              {model : "Tav Parsad Savaiye", id:"7"}
          ];
          /*$scope.getAudioUrl=function(){
             return $sce.trustAsResourceUrl($scope.G_name+'.mp3');
        };*/
          var a=[];
            $http.get('Anand Sahib.html').then(function (result) {
              a[0] = result.data;
            });
            $http.get('Chaupai Sahib.html').then(function (result) {
              a[1] = result.data;
            });
            $http.get('Jaap Sahib.html').then(function (result) {
              a[2] = result.data;
            });
            $http.get('Japji Sahib.html').then(function (result) {
              a[3] = result.data;
            });
            $http.get('Kirtan Sohila.html').then(function (result) {
              a[4] = result.data;
            });
            $http.get('Rehraas Sahib.html').then(function (result) {
              a[5] = result.data;
            });
            $http.get('Sukhmani Sahib.html').then(function (result) {
              a[6] = result.data;
            });
            $http.get('Tav Parsad Savaiye.html').then(function (result) {
              a[7] = result.data;
            });
        $scope.Gurbani=function(i){
            return a[i].records;
        };
        $scope.ChangeLanguage=function(){
          $scope.Language = ($scope.Language == "Punjabi") ? "English" : "Punjabi" ;
          document.getElementById("demo").innerHTML = null;
          for(var j=0 ; j<i-1 ; j++){
            document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML + "<br>" + $scope.Gurbani(x)[j][$scope.Language];
          }
          //Whole Page Refresh
        };
        var audio = new Audio("NONE.mp3");
        var flag=1;
        document.getElementById('pause-btn').style.display = 'none';
        $scope.myPlayPauseFunc=function(){
          if(flag==0){
            flag=1;
            audio.pause();
            document.getElementById('pause-btn').style.display = 'none';
            document.getElementById('play-btn').style.display = 'block';
          }else{
            flag=0;
            //some way to call repeatFunc();
            audio.play();
            document.getElementById('play-btn').style.display = 'none';
            document.getElementById('pause-btn').style.display = 'block';
          }
        };
        var i;
        var x;
        $scope.myFunc=function(c){
          document.getElementById('small').style.width = '50%';
          x=c;
          $scope.G_name = $scope.g_names[c].model;
          audio.pause();
          audio = new Audio($scope.G_name+'.mp3');
          flag=1;
          $scope.myPlayPauseFunc();
          i=0;
          document.getElementById("demo").innerHTML = null;
          document.getElementById("test").innerHTML = null;
          repeatFunc();
          function repeatFunc(){
            if(i<100){
              updateLines();
              function updateLines(){
                  document.getElementById("test").innerHTML = $scope.Gurbani(c)[i][$scope.Language];
                  if(i!=0){
                      document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML + "<br>" + $scope.Gurbani(c)[i-1][$scope.Language];
                  }
              }
              i++;
            }
            else{
              audio.pause();
            }
            var thisTime = a[c].records[i-1].Time ;
            var newTime = a[c].records[i].Time;
            var z = newTime - thisTime;
            z=z*1000;
            if(flag==0){
              setTimeout(repeatFunc, z);
            }
            else{
              flag=0;
            }
          }
          /*function repeatFunc(){
            if(i<100)
            {
              var thisTime = a[c].records[i].Time;
              var newTime = a[c].records[i+1].Time;
              var z = newTime - thisTime;
              addLinesOfGurbani();
              Timer(z*1000);
              i++;
              function addLinesOfGurbani(){
                document.getElementById("test").innerHTML = $scope.Gurbani(c)[i][$scope.Language];
                if(i!=0)
                {
                  document.getElementById("demo").innerHTML = document.getElementById("demo").innerHTML +"<br>"+ $scope.Gurbani(c)[i-1][$scope.Language];
                }
              }
              function Timer (delay)
              {
                setTimeout(window.scrollBy(0,5000), 5000);
                setTimeout(repeatFunc, delay);
              }
            }
          }
          */
        };
      });
      </script>
  </html>
